@import "../../assets/styles/variables";


    .lessonsOverlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.2);
        z-index: 100;
    }
    
    .lessonsModal {
        display: flex;
        flex-direction: column;
        min-width: 50%;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        z-index: 100;

    p {
        font-size: $prm-font-size*5;
        color: $grey-dark;
        position: relative;
        top: 2%;
        left: 1%;
        }
}

.lessons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
    .lessonName { 
    width: 65%;
    display: flex;
    flex-direction: column;
    font-family: $prm-font-family;
    }

    h3 {
    width: 65%;
    color: $prm-color;
    margin-bottom: 40px;
    font-family: $prm-font-family;
    }

    .input1 {
    border:none;
    background-color:$grey-light;
    padding:3px;
    border-radius: 5px;
    opacity: 0.3;
    margin-bottom: 40px;
    padding: 10px;
    height: 30px;
    font-family: $prm-font-family;
    }

    .input2 {
    border:none;
    background-color:$grey-light;
    padding:3px;
    border-radius: 5px;
    opacity: 0.3;
    margin-bottom: 40px;
    padding: 10px;
    font-family: $prm-font-family;
    }

    label {
    font-weight: $sec-font-weight;
    font-family: $prm-font-family;
    }

    button {
    display: flex;
    justify-content: center;
    font-size: 15px;
    font-family: $prm-font-family;
    font-weight: $sec-font-weight;
    width: 45%;
    height: 50px;
    margin: 40px 20px;
    padding:15px;
    background-color: $prm-color;
    color: white;
    border-radius: 8px;
    border: none;
    text-align: center;
    }

    .lessonDescription {
    width: 65%;
    display: flex;
    flex-direction: column;
    font-family: $prm-font-family;
    }
}

@media screen and (max-width: 638px) {
    .lessonsModal {
        min-width: 70%;
        font-size: $prm-font-size*3;

        p {
            font-size: $prm-font-size*4;
            color: $grey-dark;
            width: 10%;
            position: relative;
            top: 0%;
            left: 0%;
            }
    }
}

    @media screen and (min-width: 1439px) {
        .lessonsModal {
            max-width: 75%;
            font-size: $prm-font-size*4;
            display: flex;
            align-items: center;
            justify-content: center;

            p {
                font-size: $prm-font-size*5;
                color: $grey-dark;
                position: relative;
                top: 0%;
                left: 0%;
                display: flex;
                align-self: flex-start;
                }
        }

        .lessons {
            min-width: 80%;
        }
    }

        @media screen and (min-width: 2559px) {
            .lessonsModal {
                max-width: 30%;
                // min-height: 40vh;
                font-size: $prm-font-size*4;
                display: flex;
                align-items: center;
                justify-content: center;

                p {
                    font-size: $prm-font-size*5;
                    color: $grey-dark;
                    position: relative;
                    top: 0%;
                    left: 0%;
                    display: flex;
                    align-self: flex-start;
                    }
            }

            .lessons {
                min-width: 80%;
            }
        }
    
