@import "../../Assets/styles/variables";

// * {
//   border: 2px solid;
// }

.lessonView {
  display: flex;
  flex-direction: column;
  margin-left: 5vh;

}

.lessonViewTitle {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: $prm-font-family;
  color: $prm-color;
  width: 100%;
    .lessonViewNav {
      height: 40px;
        button {
          font-size: $prm-font-size*4;
          color: $prm-color;
          background-color: transparent;
          border: none;
          padding: 10px;
          height: 40px;
          width: 40px;
          &:hover {
            background-color: #E6E3EC;
            transition: ease 0.6s;
            border-radius: 4px;
            height: 40px;
            width: 40px;
        }
        }
  
    }
}

.lessonViewButtons {
  width: 100%;
}