.dashboard {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.dashboard .dashboardNav {
  width: 100%;
  height: 6vh;
  margin-top: 20px;
}
.dashboard .dashboardCourseOverview {
  width: 100%;
}