@import url("https://fonts.googleapis.com/css2?family=Roboto");
.maps .selected {
  border: solid 3px red;
  box-shadow: 5px 5px black;
}

.main {
  margin: 0 auto;
}

.headwrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  color: #341664;
}

.h3 {
  margin: 0 auto;
  margin-top: 20px;
  justify-content: space-between;
  font-size: 25px;
  display: flex;
  flex-direction: row;
  color: #341664;
  width: 100%;
  padding: 0 10px;
}
.h3 .addCourseButton {
  height: 30px;
  width: 30px;
  background-color: white;
  border: none;
  border-radius: 4px;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.h3 .addCourseButton:hover {
  background-color: #E6E3EC;
  transition: ease 0.6s;
}
.h3 .addCourseButton > * {
  color: #341664;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}
.popup .lessonsOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}
.popup .lessonsModal {
  display: flex;
  flex-direction: column;
  min-width: 30%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  z-index: 100;
  height: 55%;
}
.popup .lessonsModal .p {
  font-size: 25px;
  color: #9F9F9F;
  position: relative;
  top: 2%;
  left: 1%;
  width: 95%;
  margin: 0 auto;
  margin-top: 2%;
}
.popup .lessonsModal .lessons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.popup .lessonsModal .lessons .lessonName, .popup .lessonsModal .lessons .lessonDescription {
  width: 65%;
  display: flex;
  flex-direction: column;
  font-family: "Roboto";
  color: #341664;
}
.popup .lessonsModal .lessons h3 {
  width: 65%;
  color: #341664;
  margin-bottom: 40px;
  font-family: "Roboto";
}
.popup .lessonsModal .lessons .input1 {
  border: none;
  background-color: #D1D1D1;
  padding: 3px;
  border-radius: 5px;
  opacity: 0.3;
  margin-bottom: 20px;
  padding: 10px;
  height: 30px;
  font-family: "Roboto";
}
.popup .lessonsModal .lessons .input2 {
  border: none;
  background-color: #D1D1D1;
  padding: 3px;
  border-radius: 5px;
  opacity: 0.3;
  margin-bottom: 25px;
  padding: 10px;
  font-family: "Roboto";
}
.popup .lessonsModal .lessons label {
  font-weight: 600;
  font-family: "Roboto";
  margin: 2%;
}
.popup .lessonsModal .lessons button {
  font-size: 15px;
  font-family: "Roboto";
  font-weight: 600;
  width: 45%;
  height: 50px;
  margin: 0px 20px;
  padding: 15px;
  background-color: #341664;
  color: white;
  border-radius: 8px;
  border: none;
  text-align: center;
}
.popup .lessonsModal .lessons .lessonDescription {
  width: 65%;
  display: flex;
  flex-direction: column;
  font-family: "Roboto";
}
.popup .lessonsModal .modules:hover {
  cursor: pointer;
  background-color: #9F9F9F;
}